{# Template #}
<!DOCTYPE html>
<html>
  <head>
    <title>Empede</title>
    <script src="https://unpkg.com/htmx.org@1.9.0" integrity="sha384-aOxz9UdWG0yBiyrTwPeMibmaoq07/d3a96GCbb9x60f3mOt5zwkjdbcHFnKH8qls" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="/static/style.css">
    <link href="/static/favicon.png" rel="icon" type="image/png">
  </head>

  <body hx-ext="sse" sse-connect="/sse">
    <div 
      class="browser" 
      hx-trigger="load,sse:database"
      hx-get="/browser"
      hx-vals="js:{path: new URLSearchParams(window.location.search).get('path') || ''}"
    ></div>

    <div class="player">
      <div hx-trigger="sse:player" hx-get="/player"></div>
      <div hx-trigger="sse:playlist,sse:player" hx-get="/queue"></div>
    </div>
  </body>
</html>

